<h3 class="d-flex justify-content-center m-3">Selecciona un Contralor</h3>
<div class="content ">
    <div class="row m-3 d-flex justify-content-center m-3">

        {{#each datos}}
        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top p-3" src="/img/{{idCandidato}}.png" alt="Card image cap">
            <form action="/contralor/{{idCandidato}}" method="post">
                <div class="card-body">
                    <h5 class="card-title  d-flex   justify-content-center ">Grado {{grado}}</h5>
                    <p class="card-text ">{{nombre}} {{nombre1}} {{apellido}} {{apellido1}}</p>
                    {{!-- <a class="btn btn-primary  d-flex justify-content-center">Votar</a> --}}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary  d-flex justify-content-center">Elegir</button>
                    </div>
                </div>
            </form>
        </div>
        {{/each}}
    </div>


</div>